<div>
	<div class="container">
		<div class="form-login">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Type</th>
						<th>Submitted</th>
						<th>Description</th>
						<th>Author</th>
					</tr>
				</thead>
				<tbody id="table">

				</tbody>
			</table>
			<br> <br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Type</th>
						<th>Submitted</th>
						<th>Description</th>
						<th>Author</th>
						<th>Resolver</th>
						<th>Resolved</th>
					</tr>
				</thead>
				<tbody id="approvedTable">

				</tbody>
			</table>
			<br> <br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Type</th>
						<th>Submitted</th>
						<th>Description</th>
						<th>Author</th>
						<th>Resolver</th>
						<th>Resolved</th>
					</tr>
				</thead>
				<tbody id="deniedTable">

				</tbody>
			</table>
			<br> <br>
			<div class="row justify-content-between">
				<button onclick="getReimbursements()" class="btn btn-primary btn-md">load
					reimbursements</button>
					<button onclick="logout()" class="btn btn-primary btn-md">Logout</button>
			</div>
			<br> <br>
		</div>
	</div>
</div>