<div>
	<div class="container">
		<div class="row">
			<div class="center-block">
				<div class="form-login">
					<h4>Reimbursements</h4>
					<input type="text" id="username"
						class="form-control input-sm chat-input" placeholder="username" />
					</br> <input type="text" id="password"
						class="form-control input-sm chat-input" placeholder="password" />
					</br>
					<div class="wrapper">
						<span class="group-btn">
							<button onclick="login()" class="btn btn-primary btn-md">login
							</button>
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>